*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#header{
    height: 100vh; 
    background: #f0f2f5;
}
.container{
    margin: 100px 150px
}
.content{
    display: flex;
    flex-wrap: wrap;

}
.content-left-col{
    flex-basis: 55%;
}
.text{
    max-width:  600px;
}
.text img{
    height: 130px;
    margin: 80px auto;
    border: none;
}
h2{
    margin-top: -110px ;
    font-size: 31px
}

.content-right-col{
    flex-basis: 45%;
    
}
.form{
    border: none;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 10px;

}



input{
    display: block;
    width: 85%;
    padding: 15px;
    margin: 15px auto;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #dddfe2;
    color:  gray;
    outline: none;
    
}
.log-in, .register{
    display: block;
    width: 94%;
    padding: 15px;
    margin: 10px auto;
    background-color: #166fe5;
    border: none;
    line-height: 20px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
a{
    text-decoration: none;
    text-align: center;
    display: block;
    color: #1877f2;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 
}
a:hover{
    text-decoration:underline;
}    
hr{
   border: 1px solid #dddfe2;
    width: 98%;
    margin: 25px auto;    
}
.register{
    background: #36a420;
    width: 60%;
    margin: 25px auto;
}
@media only screen and (max-width:600px) {
    .container {
    margin: 50px 46px;
}
    .content-right-col{
        flex-basis: 100%;}
    .content-left-col {
    flex-basis: 100%;
    }
    .text img {
    height: 106;
    margin: 0px 75px;
    }
    h2 {
    margin-top: 0px;
    font-size: 18px;
        text-align: center;
}
    .register{
        width: 66%;
    }
}






